@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>this application was created as the solve of a practic case where a "Client", neded several things</p>
<ul>
    <li>A System to let people know it's products</li>
    <li>Giving it's registrated customers the option to buy products</li>
    <li>This aplication has to be dynamic</li>
    <li>Show the products first all in a single page, and also separated by types of products</li>
    <li>Every product should have a place to see it's details</li>
</ul>

